.gear{

    position: fixed;
    top: 5px;
    left: 5px;
    color: black;
}

.pill{
    position: fixed;
    top: 5px;
    right: 5px;
}

.main-content{
    padding-top: 50px;
    text-align: center;
}


.bullet{
    color: green;
}

.bing{
    color: blueviolet;
}

.tagline{
    color:rgb(117, 117, 117);
}

.searchbar{
    border: 2px;
    border-color: rgb(117, 117, 117);
    border-style: solid;
    border-radius: 8px;
    /* padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px; */
    padding-left: 30px;
    width: 300px;
}

.lens{
    position: relative;
    left:10 px
}

.searcher{
    outline: none;
    border: none;
}