h1{/* applies ccolour for h1*/
    color:red;
}
#heading-2{/*
    use # for id
    applies code for this id */
    color: blue;
}
.heading{/* . is used for class*/
    color: blueviolet;
}
.para{
    border: 2px;
    border-color: brown;
    border-style: solid;/* should be kept sice by default itss hidden*/
    padding: 20px;
    text-align: center;
}
.navbar{
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: cadetblue;
    padding: 5px;

}
.navbar a{
    color: rgb(46, 2, 2);
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
}
.navbar a:hover{
    background-color: rgb(20, 1, 1);
    color:rgb(118, 160, 161);
    text-shadow: 0.5px;
    font-size: 30px;
}
.card{
    border: 2px solid black;
    width: 300px;
    margin-top: 200px;
}
.card img{
    width: 100%;
}

.card button{
    margin-bottom: 20px;
}