h1{
    color:red;
}
#heading-2{
    color: blue;
}
.heading{
    color: blueviolet;
}
.para{
    border: 2px;
    border-color: brown;
    border-style: solid;
    padding: 20px;
    text-align: center;
}